services:
  web:
    build: .
    expose:
      - "5000"
    environment:
      DB_HOST: db
      DB_NAME: mydb
      DB_USER: admin
      DB_PASSWORD: admin
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    ports:
      - "8001:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - web

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

